<div class="columns">

    <div class="column is-4">
        <div class="field">
            <label class="label" for="column_name">Column name</label>
            <div class="control">
                <input class="input is-primary" type="text" id="column_name">
            </div>
        </div>
    </div>

    <div class="column is-2">
        <div class="field">
            <label class="label" for="">Type</label>
            <div class="control">
                <div class="select is-primary">
                    <select class="select is-primary " name="" id="">
                        <option value="fullname">Full name</option>
                        <option value="age">Age</option>
                        <option value="phone">Phone</option>
                        <option value="email">E-mail</option>
                        <option value="address">Address</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-1">
        <div class="field">
            <label class="label" for="column_name">From</label>
            <div class="control">
                <input class="input is-primary" type="text" id="column_name">
            </div>
        </div>
    </div>

    <div class="column is-1">
        <div class="field">
            <label class="label" for="column_name">To</label>
            <div class="control">
                <input class="input is-primary" type="text" id="column_name">
            </div>
        </div>
    </div>

    <div class="column is-2">
        <div class="field">
            <label class="label" for="column_name">Order</label>
            <div class="control">
                <input class="input is-primary" type="text" id="column_name">
            </div>
        </div>
    </div>

    <div class="column is-1">
        <div class="column"></div>
        <div class="field">
            <button class="button is-danger is-inverted">Delete</button>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-2">
        <a class="button is-info" href="../datasets/">Add column</a>
    </div>
</div>