<div class="table-container">
    <table class="table is-bordered is-fullwidth">

        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Modified</th>
            <th>Action</th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <th>1</th>
            <td>Customers</td>
            <td>2023-01-15</td>
            <td>
                <div class="columns">
                    <div class="column">
                        <a href="#">Edit</a>
                    </div>
                    <div class="column">
                        <a href="#" class="is-danger">Delete</a>
                    </div>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>

