.container_form {
    padding-top: 10em;
}

.body {
    background: red;
}

.add_column {
    border: 2px solid #00A78E;
}

input + label[for="id_columnmodel_set-0-range_from"] {
    color: red;
    visibility: hidden;
}

.button #add-form {
    border: #721c24;
}

