asgiref==3.6.0
Django==4.2.1
Faker==18.7.0
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
redis~=5.0.1
celery[redis]~=5.3.6
amqp~=5.2.0
vine~=5.1.0
kombu~=5.3.4
billiard~=4.2.0
click~=8.1.7
colorama~=0.4.6
wcwidth~=0.2.12