<div class="columns">

    <div class="column is-4">
        <div class="field">
            <label class="label" for="id_column_name">Column name</label>
            <div class="control">
                {{ column_form.column_name }}
            </div>
        </div>
    </div>

    <div class="column is-2">
        <div class="field">
            <label class="label" for="id_column_type">Type</label>
            <div class="control">
                <div class="select is-primary">
                    {{ column_form.column_type }}
                </div>
            </div>
        </div>
    </div>

    <div class="column is-1">
        <div class="field">
            <label class="label" for="column_name">From</label>
            <div class="control is-primary">
                {{ column_form.range_from }}
            </div>
        </div>
    </div>

    <div class="column is-1">
        <div class="field">
            <label class="label" for="column_name">To</label>
            <div class="control">
                {{ column_form.range_to }}

            </div>
        </div>
    </div>

    <div class="column is-2">
        <div class="field">
            <label class="label" for="column_name">Order</label>
            <div class="control">
                {{ column_form.order }}
            </div>
        </div>
    </div>

    <div class="column is-1">
        <div class="column"></div>
        <div class="field">
            <button class="button is-danger is-inverted">Delete</button>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-2">
        <a class="button is-info" href="">Add column</a>
    </div>


</div>


