
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" href="{% url 'schema_list' %}"><h1>FakerCSV</h1></a>

    <div class="collapse navbar-collapse" id="navbar">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'schema_list' %}">Schemas<span class="sr-only"></span></a>
            </li>
        </ul>

        <div class="my-2 my-md-0">
            <span>Hello, User</span>
            <a href="#">Log Out</a>
        </div>
    </div>
</nav>
