{% extends 'base.html' %}

{% block content %}
    {% include 'fake_csv/header.html' %}

    <form id="form-container" method="post">
        {% csrf_token %}
        {{ columns.management_form }}
        <h2>New schema</h2>
        {{ form.as_p }}
        <h2>Schema columns</h2>
        {% for cform in columns %}
            <div class="column-form">
                {{ cform.as_table }}
                <a href="#" class="columnmodel_set-0-delete_column text-danger">delete</a>
            </div>
        {% endfor %}
        <button id="add-form" type="button">Add column</button>
        <button type="submit">Save</button>

    </form>
    <script>

        function columnTypeChangeCallback(event) {
            event.preventDefault()

            columnTypeChange(columnType = event.target)
        }

        function columnTypeChange(columnType) {
            let type_id = columnType.id;
            let from_id = type_id.replace('type', 'range_from');
            let to_id = type_id.replace('type', 'range_to');
            let label_from = document.querySelector("label[for='" + from_id + "']")

            let input_from = document.getElementById(from_id)
            let label_to = document.querySelector("label[for='" + to_id + "']")
            let input_to = document.getElementById(to_id)

            if (columnType.value !== 'integer') {
                label_from.style.visibility = "hidden";
                input_from.style.visibility = "hidden";
                label_to.style.visibility = "hidden";
                input_to.style.visibility = "hidden";
            } else {
                label_from.style.visibility = "";
                input_from.style.visibility = "";
                label_to.style.visibility = "";
                input_to.style.visibility = "";
            }
        }

        // Add event to column type in first form
        let type_id = 'id_columnmodel_set-0-type'
        let columnType0 = document.getElementById(type_id)
        columnType0.addEventListener("change", columnTypeChangeCallback);

        columnTypeChange(columnType0)

        //----------------------------------------------------------------------------------------//
        let columnForm = document.querySelectorAll(".column-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_columnmodel_set-TOTAL_FORMS")
        let elem_delete = document.querySelectorAll(".delete_column-0")

        let formNum = columnForm.length - 1 // Get the number of the last form on the page with zero-based indexing
        addButton.addEventListener('click', addForm);

        function addForm(event) {
            event.preventDefault()

            // Clone first form
            let newForm = columnForm[0].cloneNode(true)

            // Update indexes
            let formRegex = RegExp(`columnmodel_set-(\\d){1}-`, 'g')
            formNum++

            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `columnmodel_set-${formNum}-`)

            // Insert form in page
            container.insertBefore(newForm, addButton)

            //---------------------------------------------------//
            

            //---------------------------------------------------//

            // Update total forms count
            totalForms.setAttribute('value', `${formNum + 1}`)


            // Add event to column type
            let type_id = `#id_columnmodel_set-${formNum}-type`
            let newColumnType = newForm.querySelector(type_id)
            newColumnType.addEventListener("change", columnTypeChangeCallback);
            columnTypeChange(newColumnType)
        }

    </script>

{% endblock %}