{% extends "base.html" %}

{% block content %}
    {% include 'fake_csv/header.html' %}
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h2>Schema: {{ form.name.value }} </h2>
            </div>
            <div class="col col-lg-2">
                <a href="{% url 'schema_edit' form.instance.id %}">Edit schema</a>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-sm table-bordered">
                    <caption>Schema that is ready to create datasets. To create dataset, enter the required number of
                        records and click "Create data".
                    </caption>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Column name</th>
                        <th scope="col">Column type</th>
                    </tr>
                    </thead>
                    {% for column in columns %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ column.name.value }}</td>
                            <td>{{ column.type.value }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h2>Data sets</h2>
            </div>
            <div class="col-md-auto">
            </div>

            <form action="{% url 'create_dataset' form.instance.id %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col col-lg-4 form-check">
                        <label for="rows">Rows:</label>
                        <input type="number" required min="0" id="rows" name="rows">
                    </div>
                </div>
                <div class="col-md-auto justify-content-end">
                    <button type="submit" class="btn btn-success">Generate data</button>
                </div>
            </form>

        </div>
    </div>

    <br>
    <div class="table-container">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-sm table-bordered" id="table-datasets">
                    <caption>List of created datasets.</caption>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    {% for dataset in datasets %}

                        <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ dataset.created }}</td>
                            <td>
                                <span id="status-{{ dataset.id }}"
                                      class="status data-status-{{ dataset.id }}">{{ dataset.status }}</span>
                            </td>
                            <td>

                                <a class="text-primary"
                                   id="link-id-{{ dataset.id }}"
                                   href="{{ MEDIA_URL }}{{ dataset.file }}"
                                   style="display: none;">Download</a>

                            </td>
                        </tr>

                        </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

    <script>

        let dataStatuses = document.getElementsByClassName('status');


        if (!dataStatuses.length) {
            console.log('Statuses is empty');
        }

        for (let dataStatus of dataStatuses) {

            let datasetID = dataStatus.className.split('-')[2];
            let dataLink = document.getElementById('link-id-' + datasetID)
            //console.log('FOR: ' + datasetID + '--' + dataStatus.innerHTML);

            if (String(dataStatus.innerHTML) === 'Ready') {
                dataLink.style = null;
            }
            //console.log(dataLink.style = null)

            let i = 0;
            let flag = dataStatus.innerHTML;
            console.log('1111' + flag)
            while (flag !== 'Ready' && i < 100) {
                getAjax(datasetID, dataStatus, dataLink);
                //console.log('Looop!');

                {#console.log("Check -- " + dataStatus.innerText)#}
                //if (String(dataStatus.innerHTML) === 'Ready') {
                //    console.log(11111)
                //    dataLink.style = null;
                //}
                flag = document.getElementById('status-' + datasetID).innerText
                console.log('2222 ' + flag)
                if (flag === 'Ready') break;
                i++;
            }
        }


        function getAjax(datasetID, dataStatus, dataLink) {
            $.ajax({
                url: 'ajax/' + datasetID,
                type: "GET",
                dataType: "json",
                success: (data) => {
                    {#console.log('AJAX: ' + data['context']);#}
                    if (String(data['context']) === 'Ready') {
                        dataStatus.innerText = data['context']; // and remove style?
                        dataLink.style = null;
                    } else {
                        console.log('not ready')
                    }
                },
                error: (error) => {
                    console.log(error);
                }
            });

        }

        //let ajaxInterval = setInterval(ajaxFoo, 1000);
        let i = 0;

        function ajaxFoo() {
            console.log('Counter: ' + i)
            i++;

            if (i >= 10) {
                clearInterval(ajaxInterval);
            }
        }

    </script>
{% endblock %}
