{% extends 'base.html' %}

{% block content %}
    {% include 'fake_csv/header.html' %}
    <form id="form-container" method="post">
        {% csrf_token %}
        {{ columns.management_form }}
        <div>
            <h2>New schema</h2>
            {{ form.as_p }}
        </div>
        <div class="button-info ">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <h2>Schema columns</h2>
        <div class="form-row">
            <div class="form-group">
                {% for cform in columns %}
                    <div class="column-form">
                        {{ cform.as_table }}
                        <a href="#" class="columnmodel_set-0-delete_column text-danger delete_column"
                           style="text-decoration: none">delete</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button id="add-form" type="button" class="btn btn-primary">Add column</button>
    </form>

    <script>
        // Add event for delete first column
        const allDeleteColumnByClass = document.getElementsByClassName('delete_column');

        for (let i = 0; i < allDeleteColumnByClass.length; i++) {
            let deleteColumnLink = allDeleteColumnByClass[i];
            deleteColumnLink.addEventListener('click', deleteColumnCallback);
        }

        // Add event to column type
        const allColumnTypeByClass = document.getElementsByClassName('type_column');

        for (let i = 0; i < allColumnTypeByClass.length; i++) {
            let columnTypeValue = allColumnTypeByClass[i];
            columnTypeChange(columnTypeValue);
            columnTypeValue.addEventListener("change", columnTypeChangeCallback);
        }

        // Hidden default checkbox and label
        const allCheckboxByType = document.querySelectorAll('input[type=checkbox]');

        for (let i = 0; i < allCheckboxByType.length; i++) {
            let checkboxElem = allCheckboxByType[i];
            let checkboxElemLabel = document.querySelector(`[for="${checkboxElem.id}"]`);
            checkboxElem.style.display = "none";
            checkboxElemLabel.style.display = "none";
        }

        function columnTypeChangeCallback(event) {
            event.preventDefault()

            let columnType = event.target
            columnTypeChange(columnType);
        }

        function deleteColumnCallback(event) {
            event.preventDefault()

            {# set checked=true for hidden checkbox #}
            let elementCheckbox = this.parentElement.querySelector('input[type=checkbox]');
            elementCheckbox.checked = true;
            {# reset value for deleted column #}
            this.parentElement.setAttribute('style', 'display:none;');
            this.parentElement.querySelector('.name_column').setAttribute('value', '');
            this.parentElement.querySelector('.order_column').setAttribute('value', '');
        }

        function columnTypeChange(columnType) {
            let type_id = columnType.id;
            let from_id = type_id.replace('type', 'range_from');
            let to_id = type_id.replace('type', 'range_to');
            let label_from = document.querySelector("label[for='" + from_id + "']");

            let input_from = document.getElementById(from_id);
            let label_to = document.querySelector("label[for='" + to_id + "']");
            let input_to = document.getElementById(to_id);

            if (columnType.value !== 'integer') {
                label_from.style.visibility = "hidden";
                input_from.style.visibility = "hidden";
                label_to.style.visibility = "hidden";
                input_to.style.visibility = "hidden";
            } else {
                label_from.style.visibility = "";
                input_from.style.visibility = "";
                label_to.style.visibility = "";
                input_to.style.visibility = "";
            }
        }

        let columnForm = document.querySelectorAll(".column-form");
        let container = document.querySelector("#form-container");
        let addButton = document.querySelector("#add-form");
        let totalForms = document.querySelector("#id_columnmodel_set-TOTAL_FORMS");
        let formNum = columnForm.length - 1; // Get the number of the last form on the page with zero-based indexing
        addButton.addEventListener('click', addForm);

        function addForm(event) {
            event.preventDefault();

            // Clone first form
            let newForm = columnForm[0].cloneNode(true);

            // Remove style if parent form hidden
            if (columnForm[0].getAttribute('style') === "display:none;") {
                newForm.removeAttribute('style');
            }

            // Update indexes
            let formRegex = RegExp(`columnmodel_set-(\\d){1}-`, 'g');
            formNum++

            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `columnmodel_set-${formNum}-`);

            // Insert form in page
            container.insertBefore(newForm, addButton);

            // Update total forms count
            totalForms.setAttribute('value', `${formNum + 1}`);

            // Add event to column type
            let type_id = `#id_columnmodel_set-${formNum}-type`;
            let newColumnType = newForm.querySelector(type_id);
            newColumnType.addEventListener("change", columnTypeChangeCallback);
            columnTypeChange(newColumnType);

            // Add event for delete column
            let delete_selector = `.columnmodel_set-${formNum}-delete_column`;
            let delete_column = newForm.querySelector(delete_selector);
            delete_column.addEventListener('click', deleteColumnCallback);
        }

    </script>

{% endblock %}