{% extends "base.html" %}

{% block content %}
    {% include 'fake_csv/header.html' %}
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h2>Schema: {{ form.name.value }} </h2>
            </div>
            <div class="col col-lg-2">
                <a href="{% url 'schema_edit' form.instance.id %}">Edit schema</a>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-sm table-bordered">
                    <caption>Schema that is ready to create datasets. To create dataset, enter the required number of
                        records and click "Create data".
                    </caption>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Column name</th>
                        <th scope="col">Column type</th>
                    </tr>
                    </thead>
                    {% for column in columns %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ column.name.value }}</td>
                            <td>{{ column.type.value }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h2>Data sets</h2>
            </div>
            <div class="col-md-auto">
            </div>

            <form action="{% url 'create_dataset' form.instance.id %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col col-lg-4 form-check">
                        <label for="rows">Rows:</label>
                        <input type="number" required min="0" id="rows" name="rows">
                    </div>
                </div>
                <div class="col-md-auto justify-content-end">
                    <button type="submit" class="btn btn-success">Generate data</button>
                </div>
            </form>

        </div>
    </div>

    <div class="table-container">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-sm table-bordered" id="table-datasets">
                    <caption>List of created datasets.</caption>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    {% for dataset in datasets %}

                        <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ dataset.created }}</td>
                            <td>
                                <span id="dataset-status">{{ dataset.status }}</span>
                            </td>
                            <td>
                                {% if dataset.status == 'Ready' %}
                                    <a class="text-primary" href="{{ MEDIA_URL }}{{ dataset.file }}">Download</a>
                                {% else %}
                                    <a class="text-primary" href="{{ MEDIA_URL }}{{ dataset.file }}"
                                       style="display: none;">Download</a>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
    <script>
        let table = $('#table-datasets').DataTable( {
           ajax: "data.json"
        });

        setInterval(function () {
            table.ajax.reload(  null, false );
        }, 10000);

    </script>

{% endblock %}
