{% extends "base.html" %}

{% block content %}
    {% include 'fake_csv/header.html' %}
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h2>Schema: {{ form.name.value }} </h2>
            </div>
            <div class="col col-lg-2">
                <a href="{% url 'schema_edit' form.instance.id %}">Edit schema</a>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-sm table-bordered">
                    <caption>Schema that is ready to create datasets. To create dataset, enter the required number of
                        records and click "Create data".
                    </caption>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Column name</th>
                        <th scope="col">Column type</th>
                    </tr>
                    </thead>
                    {% for column in columns %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ column.name.value }}</td>
                            <td>{{ column.type.value }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h2>Data sets</h2>
            </div>
            <div class="col-md-auto">
            </div>

            <form action="{% url 'create_dataset' form.instance.id %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col col-lg-4 form-check">
                        <label for="rows">Rows:</label>
                        <input type="number" required min="0" id="rows" name="rows">
                    </div>
                </div>
                <div class="col-md-auto justify-content-end">
                    <button type="submit" class="btn btn-success">Generate data</button>
                </div>
            </form>

        </div>
    </div>

    <div class="table-container">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-sm table-bordered" id="table-datasets">
                    <caption>List of created datasets.</caption>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    {% for dataset in datasets %}

                        <tbody>
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ dataset.created }}</td>
                            <td>
                                {% if dataset.status == 'Wait' %}
                                    <span id="data-status-{{ dataset.id }}"
                                          class="dataset badge bg-warning">{{ dataset.status }}</span>
                                {% elif dataset.status == 'Running' %}
                                    <span id="data-status-{{ dataset.id }}"
                                          class="dataset badge badge-primary">{{ dataset.status }}</span>
                                {% elif dataset.status == 'Ready' %}
                                    <span id="data-status-{{ dataset.id }}"
                                          class="dataset badge badge-success">{{ dataset.status }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if dataset.status == 'Ready' %}
                                    <a class="text-primary" href="{{ MEDIA_URL }}{{ dataset.file }}">Download</a>
                                {% else %}
                                    <a class="text-primary" href="{{ MEDIA_URL }}{{ dataset.file }}"
                                       style="display: none;">Download</a>
                                {% endif %}
                            </td>
                        </tr>
                        <script>

                            console.log(document.getElementById('data-status-{{ dataset.id }}').id)

                            function foo(el) {
                                console.log(el)
                            }

                            if (document.getElementById('data-status-{{ dataset.id }}').innerHTML === "Ready") {
                                console.log('Interval for dataset: {{ dataset.id }} -- stop');
                            } else {
                                console.log('Interval for dataset: {{ dataset.id }} -- start');
                            }

                            const myInterval = setInterval(checkDatasetStatus, 1000);

                            function checkDatasetStatus(element) {
                                console.log(element)
                            }

                            function stopInterval() {
                                clearInterval(myInterval)
                            }

                        </script>
                        </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>


{% endblock %}
