<div class="table-container">
    <table class="table is-bordered is-fullwidth">
{#        {% for schema in schemas %}#}
{#            <thead>#}
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Modified</th>
                <th>Action</th>

            </tr>
            </thead>

            <tbody>
            <tr>
                <th>1</th>
                <td>{{ schemas.name_schema }}</td>
                <td>{{ schemas.modified }}</td>
                <td>
                    <div class="columns">
                        <div class="column">
                            <a href="">Edit</a>
                        </div>
                        <div class="column">
                            <a href="#" class="is-danger">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
{#        {% endfor %}#}
    </table>
</div>

